%h1 Technical Skills
.ui.four.statistics
    .statistic
        .value
            %i.devicon-html5-plain.colored
        .label HTML
    .statistic
        .value
            %i.devicon-css3-plain.colored
        .label CSS
    .statistic
        .value
            %i.devicon-ruby-plain.colored
        .label Ruby
    .statistic
        .value
            %i.devicon-rails-plain.colored
        .label Rails
    .statistic
        .value
            %i.devicon-javascript-plain.colored
        .label JavaScript
    .statistic
        .value
            %i.devicon-angularjs-plain.colored
        .label AngularJS
    .statistic
        .value
            %i.devicon-bootstrap-plain.colored
        .label Bootstrap
    .statistic
        .value
            %i.devicon-jquery-plain.colored
        .label jQuery
    .statistic
        .value
            %i.devicon-bower-plain.colored
        .label Bower
    .statistic
        .value
            %i.devicon-git-plain.colored
        .label Git
    .statistic
        .value
            %i.devicon-github-plain.colored
        .label GitHub
    .statistic
        .value
            %i.devicon-atom-plain.colored
        .label Atom
