<div class="ui items">
  <div class="item">
    <div class="ui large image">
        <img src="<%= asset_path('mcasciato.jpg') %>" alt="">
        <!-- need to replace with more professional photo when possible -->
    </div>
    <div class="content">
      <h1>Michael Casciato</h1>
      <div class="meta">
        <i class="code icon"></i><span>Full Stack Web Developer</span>
      </div>
      <div class="extra">
        <i class="marker icon"></i>Cincinnati, OH
      </div>
      <div class="description">
        <p>I'm a full stack web developer after being a professional campus minister in a past life.</p>
        <div class="extra">
            <h3><em>A campus minister turned coder?</em></h3>
        </div>
        <p>In a nutshell, yes. I loved ministry, but I needed a change. I needed a new challenge where I would be encouraged to try new things. So I turned to technology.</p>
        <p> More...</p>
      </div>
    </div>
  </div>
</div>
