<div class="ui divided items">
  <div class="item">
    <div class="ui medium image">
      <img src="<%= asset_path('mcasciato.jpg') %>" alt="">
    </div>
    <div class="middle aligned content">
      <h1>Michael Casciato</h1>
      <div class="extra">
          <span>
              <i class="code icon"></i>
              <span>Full Stack Web Developer</span>
          </span>
          <span>
              <i class="marker icon"></i>Cincinnati, OH
          </span>
      </div>
    </div>
  </div>
  <div class="item">
      <div class="content">
          <p>I'm a full stack web developer after being a professional campus minister in a past life.</p>
          <p><em>A campus minister turned coder?</em></p>
          <p>In a nutshell, yes. I loved ministry, but I needed a change. I needed a new challenge where I would be encouraged to try new things. So I turned to technology.</p>
      </div>
  </div>
</div>
