.ui.divided.items
    .item
        .ui.medium.image
            %image{:alt => "", :src => "#{asset_path('mcasciato.jpg')}"}/
        .middle.aligned.content
            %h1 Michael Casciato
            .extra
                %span
                    %i.code.icon
                    %span Full Stack Web Developer
                %span
                    %i.marker.icon
                    %span Cincinnati, OH
    .item
        .content
            %p I'm a full stack web developer after being a professional campus minister in a past life.
            %p
                %em A campus minister turned coder?
            %p In a nutshell, yes. I loved ministry, but I needed a change. I needed a new challenge where I would be encouraged to try new things. So I turned to technology.
