%h1
    Political News
    %span
        %a.large.default.right.floated.ui.button{:href => "https://github.com/mcasciato/political_news_cli_gem", :target => "_blank"}
            %i.github.icon
            View on Github
%p
    %em A fast, simple CLI interface for catching up on the latest political news.
%p
    My very first project with the Flatiron School was to build a Ruby CLI (command-line interface) app. I developed Political News in early 2016 when we were in the thick of the election to gather the most recent political news story from popular news sources. Utilizing Nokogiri, the CLI app scraped the news source to provide basic info for the user.
%hr/
.ui.list
    .item
        %i.check.square.icon
        .content
            Scraped NY Times, Washington Post, and Buzzfeed News with Nokogiri
    .item
        %i.check.square.icon
        .content
            SDisplayed browsable interface for interacting with each news article
%h3 Primary Skills Utilized:
.ui.statistics
    .statistic
        .value
            %i.devicon-ruby-plain.colored
