<h1>Portfolio</h1>

<div class="ui two stacked link cards">
    <div class="card">
        <div class="image">
            <img src="<%= asset_path('flix4me.jpeg') %>" alt="">
        </div>
      <div class="content">
        <div class="header">Flix4Me</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" id="modal1">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar2/large/elyse.png" alt="">
        </div>
      <div class="content">
        <div class="header">MyCEUs</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" id="modal2">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar2/large/molly.png" alt="">
        </div>
      <div class="content">
        <div class="header">My Instruments</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" id="modal3">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg" alt="">
        </div>
      <div class="content">
        <div class="header">Political News (CLI)</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" id="modal4">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
</div>

<!-- remove modals and just make more detailed cards or possibly link to a new page? -->
<div class="ui modal" id="modal1">
  <i class="close icon"></i>
  <div class="header">
    App #1 Title
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="http://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>App #1 description</p>
      <div class="ui large labels">
        <div class="ui label">
          Fun
        </div>
        <div class="ui label">
          Happy
        </div>
        <div class="ui label">
          Smart
        </div>
        <div class="ui label">
          Witty
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.modal')
        .modal({
          inverted: true
        })
        .modal('attach events', '#modal1', 'show')
    ;
</script>
