<h1>Portfolio</h1>

<div class="ui two stacked cards">
    <div class="card">
        <div class="image">
            <img src="<%= asset_path('flix4me.jpeg') %>" alt="">
        </div>
      <div class="content">
        <div class="header">Flix4Me</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" ui-sref='home.flix4me'>
        <i class="add icon"></i>
        More Info
      </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="<%= asset_path('myceus.jpeg') %>" alt="">
        </div>
      <div class="content">
        <div class="header">MyCEUs</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" ui-sref="home.myceus">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="<%= asset_path('sinatraInstruments.jpeg') %>" alt="">
        </div>
      <div class="content">
        <div class="header">My Instruments</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" ui-sref="home.sinatraInstruments">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="<%= asset_path('politicalNews.jpeg') %>" alt="">
        </div>
      <div class="content">
        <div class="header">Political News (CLI)</div>
        <div class="description">
          Project description.
        </div>
      </div>
      <div class="ui bottom attached button" ui-sref="home.politicalNews">
        <i class="add icon"></i>
        More Info
      </div>
    </div>
</div>
