%h1 Contact
#contact.ui.statistics
    .statistic
        .value
            %a{:href => "https://github.com/mcasciato", :target => "_blank"}
                %i.github.icon
        .label
            Check Out My Code!
    .statistic
        .value
            %a{:href => "https://www.linkedin.com/in/michaelcasciato/", :target => "_blank"}
                %i.linkedin.icon
        .label
            Network With Me!
    .statistic
        .value
            %a{:href => "https://twitter.com/michaelcasciato/", :target => "_blank"}
                %i.twitter.icon
        .label
            Tweet at Me!
    .statistic
        .value
            %a{:href => "https://medium.com/@mcasciato", :target => "_blank"}
                %i.medium.icon
        .label
            Follow My Blog!
