/*
 *= require_tree .
 *= require_self
 */

@import 'semantic-ui/dist/semantic.css';

.ui.inverted.thin.sidebar {
    background-color: #16a085;
}

#contact i {
    transition: all 0.2s ease-in-out;
}

i.linkedin:hover {
    opacity: .9;
    color: #1B85BC;
}

i.twitter:hover {
    opacity: .9;
    color: #1DA1F2;
}

i.medium:hover {
    opacity: .9;
    color: #00AB6B;
}
