/*
 *= require_tree .
 *= require_self
 *= require devicon
 *= require devicon-colors
 */

@import 'semantic-ui/dist/semantic.css';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body {
    p {
        font-size: 16px;
    }

    .ui .list {
        font-size: 16px;
    }

}

code {
    background-color: #F3F3F3;
    font-family: 'Droid Sans Mono';
}
