<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Michael Casciato</title>
    <%= csrf_meta_tags %>
    <meta name= "viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <br /><br />
    <div class="ui bottom fixed three item menu">
        <div class="item">
            <span><i class="copyright icon"></i></span> 2017 | Michael Casciato
        </div>
    </div>
  </body>

</html>
